.btn {
  width: 200px;
  aspect-ratio: 3/1;
  font-size: 2rem;
  text-shadow: 2px 2px 0.5px black;
  color: whitesmoke;
  border: 2px solid black;
  border-radius: 15px;
  background: linear-gradient(dodgerblue, blue);
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  margin: 0 50px;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px black;
}
.btn:active {
  transform: scale(1);
  box-shadow: none;
}
.btn:nth-child(5) {
  background: linear-gradient(grey, black);
}
.d {
  margin: 50px;
  font-family: "Poppins";
  width: 250px;
  aspect-ratio: 3/1;
  font-size: 2rem;
  color: lime;
  text-align: center;
  align-content: center;
  border: 2px solid black;
  border-radius: 15px;
  background: linear-gradient(#1a1a1a, #4a4a4a);
  margin-bottom: 25px;
  justify-self: center;
}
.container {
  display: flex;
  justify-content: center;
}