* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#mainContainer {
  display: flex;
  gap: 50px;
  padding: 20px;
}

#eventForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#formContainer {
  min-height: 350px;
  width: 350px;
  border: 1px solid black;
  background: #eee;
  padding: 20px;
  border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

#eventForm input,
#eventForm textarea,
#eventForm select {
  width: 90%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#add-btn {
  margin-top: 10px;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(blueviolet, blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

#add-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(blue, blueviolet);
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#add-btn:hover::before {
  opacity: 1;
}

#eventContainer {
  display: grid;
  min-height: 350px;
  flex-grow: 1;
  border: 1px solid black;
  background: #eee;
  padding: 20px;
  border-radius: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: min-content;
  gap: 15px;
}
