* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif
}
#mainContainer {
  display: flex;
  gap: 50px;
  padding: 20px;
}

#eventForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#formContainer {
  min-height: 350px;
  width: 350px;
  border: 1px solid black;
  background: #eee;
  padding: 20px;
  border-radius: 10px;
}

#eventForm input,
#eventForm textarea,
#eventForm select {
  width: 90%; 
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#add-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-btn:hover {
  background-color: blue;
}

#eventContainer {
  display: grid;
  min-height: 350px;
  flex-grow: 1;
  border: 1px solid black;
  background: #eee;
  padding: 20px;
  border-radius: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: min-content;
  gap: 15px;
}
