.mainHeader {
  height: 80px;
  background-color: antiquewhite;
  color: rgb(204, 0, 255);
  box-shadow: 0px 0px 5px 5px gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  text-shadow: -1px 1px 2px rgb(0, 17, 255);
}
